<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MagazynioServer.Properties.Settings.MagazynioConnectionString"
            connectionString="Data Source=OL-SDC-PIOTROWI\SQLEXPRESS;Initial Catalog=Magazynio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>